*:before,
*:after,
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
  background: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
::-webkit-input-placeholder {
  font-family: inherit;
  outline: none;
}

input,
:-ms-input-placeholder {
  font-family: inherit;
  outline: none;
}

input,
::-ms-input-placeholder {
  font-family: inherit;
  outline: none;
}

input,
::placeholder {
  font-family: inherit;
  outline: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline: none;
  font: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.row {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
}

/* Main header */
.main-header {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 1.5rem 0;
}

.main-header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__nav, .main-header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-header__logo {
  font-size: 2rem;
  color: #e72b54;
}

.main-header__nav {
  text-align: right;
}

.main-header__nav li {
  display: inline-block;
  margin: 0 1rem;
}

.main-header__nav--cart-icon {
  padding-right: 0.3rem;
}

.main-header__nav li a {
  color: #333;
  display: inline-block;
  position: relative;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.main-header__nav li a svg path,
.main-header__nav li a svg circle,
.main-header__nav li a svg polyline {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  stroke: #333;
}

.main-header__nav li a:hover svg path,
.main-header__nav li a:hover svg circle,
.main-header__nav li a:hover svg polyline {
  stroke: #e72b54;
}

.main-header__nav li a .badge {
  background: #e72b54;
  font-size: 90%;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: 0;
  padding: 5px 10px;
}

/* Hero */
.hero {
  width: 100%;
  position: relative;
}

.hero__item {
  color: #333;
  line-height: 1.5;
}

.hero__item--content {
  width: 30%;
  position: absolute;
  top: 15%;
  z-index: 10;
}

.hero__item--title {
  font-weight: lighter;
  font-size: 250%;
  color: #e72b54;
  margin-bottom: 1rem;
}

.hero__item--text {
  margin-bottom: 2rem;
}

.hero__item--btn {
  background: #e72b54;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
  border-radius: 2rem;
  color: #fff;
  padding: 0.8rem 2rem;
  display: inline-block;
  font-weight: 600;
}

.hero__item--btn:hover, .hero__item--btn:focus {
  background: #9b112f;
}

/* Products */
.products {
  padding: 2rem 0;
}

.products .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product {
  width: 25%;
  text-align: center;
  border: 2px solid transparent;
  -webkit-transition: 0.4s ease-out border;
  transition: 0.4s ease-out border;
  border-radius: 10px;
  overflow: hidden;
}

.product:hover, .product:focus {
  -webkit-box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
          box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
  border-style: solid;
  border-color: #ebebeb;
}

.product:hover .product__add-cart, .product:focus .product__add-cart {
  opacity: 1;
  pointer-events: all;
}

.product__price {
  margin: 1rem 0;
  font-weight: bold;
  color: #e72b54;
  font-size: 120%;
}

.product__price--was {
  font-size: 80%;
  color: #333;
  text-decoration: line-through;
}

.product figure figcaption {
  line-height: 2;
}

.product__add-cart {
  pointer-events: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem;
  opacity: 0;
  background: #e72b54;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
}

.product__add-cart:hover, .product__add-cart:focus {
  background: #9b112f;
}

.product svg path,
.product svg circle,
.product svg polyline {
  stroke: #fff;
}

.newsletter {
  background: #e3e3e1;
  padding: 2rem 0;
}

.newsletter .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__content {
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

.newsletter__content svg rect,
.newsletter__content svg polyline {
  stroke: #e72b54;
}

.newsletter__content h2 {
  font-size: 120%;
  color: #e72b54;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.newsletter__content h2 span {
  display: inline-block;
  margin-left: 1rem;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.newsletter__form--input {
  font-size: 100%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.newsletter__form--email {
  background: #fff;
  padding: 10px;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  border-bottom: 1px solid #fff;
}

.newsletter__form--email:focus {
  border-color: #e72b54;
}

.newsletter__form--submit {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding: 10px 30px;
  color: #fff;
  background: #e72b54;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
}

.newsletter__form--submit:hover, .newsletter__form--submit:focus {
  background: #9b112f;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e3e3e1;
  padding: 1rem;
  position: relative;
}

.cart-item__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.cart-item__product--link:hover {
  color: #e72b54;
}

.cart-item__quantity--add, .cart-item__quantity--reduce {
  font-size: 120%;
  font-weight: bolder;
  -webkit-transition: 0.4s ease-out color;
  transition: 0.4s ease-out color;
}

.cart-item__quantity--add:hover, .cart-item__quantity--reduce:hover {
  color: #e72b54;
}

.cart-item__quantity--count {
  width: 25%;
  border: #e3e3e1 2px solid;
  padding: 10px;
  text-align: center;
  color: #333;
  margin: 0 2rem;
}

.cart-item__price {
  color: #e72b54;
  font-size: 120%;
  right: 15%;
  bottom: 15%;
}

.cart-item__remove {
  padding: 0 1rem;
  font-size: 150%;
  font-weight: bold;
  -webkit-transition: 0.4s ease-out color;
  transition: 0.4s ease-out color;
  font-size: 150%;
}

.cart-item__remove:hover {
  color: #e72b54;
}

.cart__footer {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__footer--to-home {
  padding-left: 1rem;
}

.cart__footer--to-home a {
  color: #e72b54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__footer--to-home a svg {
  margin-right: 0.5rem;
  -webkit-transition: 0.4s ease-out transform;
  transition: 0.4s ease-out transform;
}

.cart__footer--to-home a svg polyline,
.cart__footer--to-home a svg line,
.cart__footer--to-home a svg path {
  stroke: #e72b54;
}

.cart__footer--to-home a:hover svg {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.cart__footer--checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 5px;
  background: #e72b54;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
}

.cart__footer--checkout-btn:hover, .cart__footer--checkout-btn:focus {
  background: #9b112f;
}

.cart__footer--checkout-btn svg {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  margin-right: 1.5rem;
}

.cart__footer--checkout-btn svg path,
.cart__footer--checkout-btn svg polyline {
  stroke: #fff;
}

.cart__footer--subtotal span {
  font-size: 150%;
  font-weight: bold;
  color: #e72b54;
  margin-left: 1rem;
}

/* Product detail */
.product-detail {
  margin: 3rem 0;
}

.product-detail .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.product-detail__add-to-cart {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 150%;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  background: #e72b54;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
}

.product-detail__add-to-cart:hover, .product-detail__add-to-cart:focus {
  background: #9b112f;
}

.product-detail__add-to-cart svg {
  margin-right: 1rem;
}

.product-detail__add-to-cart svg polyline,
.product-detail__add-to-cart svg path,
.product-detail__add-to-cart svg circle {
  stroke: #fff;
}

.product-detail__content {
  width: 45%;
}

.product-detail__content--title {
  font-size: 150%;
  line-height: 2;
  color: #e72b54;
}

.product-detail__content--description {
  line-height: 2;
  margin-bottom: 2rem;
}

.product-detail__price {
  line-height: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail__price--normal {
  margin-right: 1rem;
  font-size: 2rem;
  color: #e72b54;
}

.product-detail__price--old {
  text-decoration: line-through;
}

.product-detail__preview {
  border-right: 1px dashed #b2b2ac;
  padding-right: 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail__preview--image {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  margin-left: 1rem;
}

.product-detail__preview--thumbnails {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-detail__preview--thumbnails img {
  max-height: 150px;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* Auth Form start*/
.auth {
  background: #e5e5e3;
}

.auth-form__wrap {
  background: #fff;
  border-radius: 5px;
  max-width: 600px;
  margin: 4rem auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1.5rem 3rem 1rem;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 1.5rem 3rem 1rem;
  padding: 2rem 3rem;
}

.auth-form__wrap--title {
  color: #e72b54;
  font-size: 150%;
}

.auth-form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.auth-form__input {
  background: #e3e3e1;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out border;
  transition: 0.4s ease-out border;
  border-bottom: 2px solid transparent;
}

.auth-form__input:focus {
  border-bottom-color: #e72b54;
}

.auth-form__label {
  line-height: 2;
}

.auth-form__submit {
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 100% !important;
  background: #e72b54;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
}

.auth-form__submit:hover, .auth-form__submit:focus {
  background: #9b112f;
}

.auth-form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth-form__footer a:hover {
  color: #e72b54;
}

/* Auth Form end*/
.main-footer {
  padding: 2rem 0;
  background: #fff;
}

@media (max-width: 1000px) {
  .hero .row,
  .main-header .row,
  .newsletter .row,
  .main-footer .row,
  .product-detail .row,
  .cart .row {
    padding: 0 2.5rem;
  }
  .main-header {
    padding: 1rem 0;
  }
  .hero {
    width: 100%;
    position: relative;
  }
  .hero__item--content {
    width: 50%;
    top: 10%;
  }
  .hero__item--btn {
    padding: 0.5rem 1rem;
  }
  .hero__item--title {
    font-size: 180%;
  }
  .hero__item--text {
    margin: 1rem 0;
  }
  .products .product {
    width: 30%;
  }
  .newsletter .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter__content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .newsletter__content h2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 1rem;
  }
  .newsletter__content h2 svg {
    height: 50px;
    width: 50px;
  }
  .newsletter__form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 80%;
  }
}

@media (max-width: 800px) {
  .product-detail {
    margin: 3rem 0;
  }
  .product-detail .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-detail__price {
    line-height: 1.5;
  }
  .product-detail__content {
    margin: 0;
    width: 100%;
  }
  .product-detail__preview {
    border-right: 0;
    margin-bottom: 1rem;
    padding-right: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .product-detail__preview--image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0;
  }
  .product-detail__preview--thumbnails {
    width: 100%;
    overflow-x: scroll;
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-detail__preview--thumbnails img {
    margin: 0.5rem 0.5rem 0 0;
  }
  .cart-item__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart-item__quantity--add, .cart-item__quantity--reduce {
    margin: 0.5rem 0;
  }
  .cart-item__quantity--count {
    width: 50%;
  }
  .cart-item__price {
    font-size: 100%;
    margin-right: 1rem;
  }
  .cart__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cart__footer p {
    margin: 0.5rem 0;
  }
}

@media (max-width: 750px) {
  .hero .hero__item--content {
    width: 50%;
    top: 10%;
  }
  .hero .hero__item--title {
    font-size: 150%;
  }
  .products {
    padding: 0 2rem;
    margin-bottom: 1rem;
  }
  .products .product {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .hero {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
  }
  .hero .row {
    padding: 0;
  }
  .hero__item {
    min-height: 80vh;
    background-image: url("../images/slide/slide-05-mobile.jpg");
    background-size: cover;
  }
  .hero__item:after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .hero__item--title {
    font-weight: bold;
    color: #fff;
    font-size: 200% !important;
  }
  .hero__item--text {
    padding: 1.5rem;
    color: #fff;
  }
  .hero__item--image {
    display: none;
  }
  .hero__item--content {
    text-align: center;
    width: 90% !important;
    padding: 10rem 0;
    margin: auto;
    position: relative;
    top: 0;
  }
  .newsletter__form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .auth-form__wrap {
    width: 100%;
    margin: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 450px) {
  .products .product {
    width: 90%;
  }
  .newsletter__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newsletter__form--submit, .newsletter__form--email {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */