*:before,
*:after,
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  max-width: 100%;
  background: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
::-webkit-input-placeholder {
  font-family: inherit;
  outline: none;
}

input,
:-ms-input-placeholder {
  font-family: inherit;
  outline: none;
}

input,
::-ms-input-placeholder {
  font-family: inherit;
  outline: none;
}

input,
::placeholder {
  font-family: inherit;
  outline: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline: none;
  font: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.row {
  margin: auto;
  max-width: 1100px;
}

/* Main header */
.main-header {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.main-header .row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__nav, .main-header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-header__logo {
  font-size: 2rem;
  color: #e72b54;
}

.main-header__nav {
  text-align: right;
}

.main-header__nav li {
  display: inline-block;
  margin: 0 1rem;
}

.main-header__nav li a {
  color: #333;
}

/* Hero */
.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero .hero__item {
  color: #333;
  line-height: 1.5;
}

.hero .hero__item--content {
  width: 30%;
  position: absolute;
  top: 15%;
  z-index: 10;
}

.hero .hero__item--title {
  font-weight: lighter;
  font-size: 3rem;
  color: #e72b54;
  margin-bottom: 1rem;
}

.hero .hero__item--text {
  margin-bottom: 2rem;
}

.hero .hero__item--btn {
  border: 2px solid #e72b54;
  background: #e72b54;
  border-radius: 2rem;
  color: #fff;
  padding: 0.8rem 2rem;
  display: inline-block;
  font-weight: 600;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.hero .hero__item--btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hero__content {
  position: relative;
  z-index: 1;
  width: 30%;
}

/* Products */
.products {
  padding: 2rem 0;
}

.products .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product {
  width: 25%;
  margin-bottom: 2rem;
  text-align: center;
  border: 2px solid transparent;
  -webkit-transition: 0.4s ease-out box-shadow;
  transition: 0.4s ease-out box-shadow;
  border-radius: 10px;
  overflow: hidden;
}

.product:hover {
  -webkit-box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
          box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
  border-style: solid;
  border-color: #ebebeb;
}

.product:hover .product__add-cart {
  opacity: 1;
}

.product__price {
  margin: 1rem 0;
  font-weight: bold;
  color: #e72b54;
  font-size: 120%;
}

.product__price--was {
  font-size: 80%;
  color: #333;
  text-decoration: line-through;
}

.product figure figcaption {
  line-height: 2;
}

.product__add-cart {
  background: #e72b54;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  pointer-events: all;
  color: #fff;
  display: block;
  width: 100%;
  padding: 1rem;
  opacity: 0;
}

.product__add-cart svg path,
.product__add-cart svg circle,
.product__add-cart svg polyline {
  stroke: #fff;
}

.product__add-cart:hover {
  background: #b11436;
}

.newsletter {
  background: #e3e3e1;
  padding: 2rem 0;
}

.newsletter .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__content {
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

.newsletter__content svg rect,
.newsletter__content svg polyline {
  stroke: #e72b54;
}

.newsletter__content h2 {
  font-size: 120%;
  color: #e72b54;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.newsletter__content h2 span {
  display: inline-block;
  margin-left: 1rem;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

.newsletter__form--input {
  font-size: 100%;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.newsletter__form--email {
  background: #fff;
  padding: 10px;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  border-bottom: 1px solid #fff;
}

.newsletter__form--email:focus {
  border-color: #e72b54;
}

.newsletter__form--submit {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding: 10px 30px;
  background: #e72b54;
  color: #fff;
}

.newsletter__form--submit:hover, .newsletter__form--submit:focus {
  background: rgba(231, 43, 84, 0.5);
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e3e3e1;
}

.cart-item__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 120%;
}

.cart-item__quantity--add, .cart-item__quantity--reduce {
  font-size: 150%;
  -webkit-transition: 0.4s ease-out color;
  transition: 0.4s ease-out color;
}

.cart-item__quantity--add:hover, .cart-item__quantity--reduce:hover {
  color: #e72b54;
}

.cart-item__quantity--count {
  color: #333;
  margin: 0 2rem;
  padding: 0.5rem 1rem;
  border: #e3e3e1 2px solid;
}

.cart-item__price {
  color: #e72b54;
  font-size: 120%;
}

.cart-item__remove {
  font-size: 150%;
  font-weight: bold;
  -webkit-transition: 0.4s ease-out color;
  transition: 0.4s ease-out color;
  font-size: 150%;
}

.cart-item__remove:hover {
  color: #e72b54;
}

.cart__footer {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__footer--to-home a {
  color: #e72b54;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__footer--to-home a svg {
  margin-right: 0.5rem;
  -webkit-transition: 0.4s ease-out transform;
  transition: 0.4s ease-out transform;
}

.cart__footer--to-home a svg polyline,
.cart__footer--to-home a svg line,
.cart__footer--to-home a svg path {
  stroke: #e72b54;
}

.cart__footer--to-home a:hover svg {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.cart__footer--checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e72b54;
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.4s ease-out background;
  transition: 0.4s ease-out background;
}

.cart__footer--checkout-btn:hover {
  background: #9b112f;
}

.cart__footer--checkout-btn svg {
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  margin-right: 1.5rem;
}

.cart__footer--checkout-btn svg path,
.cart__footer--checkout-btn svg polyline {
  stroke: #fff;
}

.cart__footer--subtotal span {
  font-size: 150%;
  font-weight: bold;
  color: #e72b54;
  margin-left: 1rem;
}

.main-footer {
  padding: 2rem 0;
  background: #fff;
}

@media (max-width: 700px) {
  .main-header .row {
    display: block;
  }
  .main-header__logo {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */