@import 'partials/variables';
@import 'partials/reset';
@import 'partials/mixins';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
  margin: auto;
  max-width: $page-width;
}

/* Main header */

@import 'components/main-header';

/* Hero */
@import 'components/hero';

/* Products */

.products {
  &__category {
    max-width: $page-width;
    margin: 1.5rem auto 1rem;
    color: $accent;
    font-weight: 300;
    font-size: 1.5rem;
    padding-bottom: 0.6rem;
    transition: border 400ms linear;
    &:hover {
      color: lighten($color: $accent, $amount: 20%);
    }
  }
  padding: 2rem 0;
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

@import 'components/product';

@import 'components/newsletter';

@import 'components/cart';

@import 'components/product-detail-page';

@import 'components/auth-pages';

.main-footer {
  padding: 2rem 0;
  background: $light;
}

@import 'components/shop-page';
@import 'partials/responsive';
