@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.row {
    margin: auto;
    max-width: $page-width;
    overflow: auto;
}

/* Main header */
.main-header {
    background: $light;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    padding: 1rem 0;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav,
    &__logo {
        flex: 1;
    }

    &__logo {
        font-size: 2rem;
        color: $accent;
    }

    &__nav {
        text-align: right;

        li {
            display: inline-block;
            margin: 0 1rem;
        }

        &--cart-icon {
            padding-right: 0.3rem;
        }

        li a {
            color: $dark;
            display: inline-block;
            position: relative;
            padding-top: 1rem;
            margin-bottom: 1rem;

            svg {
                path,
                circle,
                polyline {
                    transition: 0.4s ease-out;
                    stroke: $dark;
                }
            }

            &:hover {
                svg {
                    path,
                    circle,
                    polyline {
                        stroke: $accent;
                    }
                }
            }

            .badge {
                background: $accent;
                font-size: 90%;
                color: $light;
                border-radius: 50%;
                position: absolute;
                right: -5px;
                top: 0;
                padding: 5px 10px;
            }
        }
    }
}

/* Hero */
.hero {
    width: 100%;
    position: relative;

    &__item {
        color: $dark;
        line-height: 1.5;

        &--content {
            width: 30%;
            position: absolute;
            top: 15%;
            z-index: 10;
        }

        &--title {
            font-weight: lighter;
            font-size: 250%;
            color: $accent;
            margin-bottom: 1rem;
        }

        &--text {
            margin-bottom: 2rem;
        }

        &--btn {
            @include primary-btn;
            border-radius: 2rem;
            color: #fff;
            padding: 0.8rem 2rem;
            display: inline-block;
            font-weight: 600;
        }
    }
}

/* Products */

.products {
    &__category {
        max-width: $page-width;
        margin: 1.5rem auto 1rem;
        color: $accent;
        font-weight: 300;
        font-size: 1.5rem;
        padding-bottom: 0.6rem;
        transition: border 400ms linear;
        &:hover {
            color: lighten($color: $accent, $amount: 20%);
        }
    }
    padding: 2rem 0;
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}

.product {
    width: 25%;
    text-align: center;
    border: 2px solid transparent;
    transition: 0.4s ease-out border;
    border-radius: 10px;
    overflow: hidden;

    &:hover,
    &:focus {
        box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
        border: {
            style: solid;
            color: rgba(235, 235, 235, 1);
        }
        .product__add-cart {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__price {
        margin: 1rem 0;
        font-weight: bold;
        color: $accent;
        font-size: 120%;
        &--was {
            font-size: 80%;
            color: $dark;
            text-decoration: line-through;
        }
    }

    figure {
        figcaption {
            line-height: 2;
        }
    }

    &__add-cart {
        pointer-events: none;
        color: $light;
        display: block;
        width: 100%;
        padding: 1rem;
        opacity: 0;
        @include primary-btn;
    }
    svg {
        path,
        circle,
        polyline {
            stroke: $light;
        }
    }
}

.newsletter {
    background: $light-dark;
    padding: 2rem 0;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        flex: 0.45;

        svg {
            rect,
            polyline {
                stroke: $accent;
            }
        }

        h2 {
            font-size: 120%;
            color: $accent;
            line-height: 1.5;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            span {
                display: inline-block;
                margin-left: 1rem;
            }
        }
    }

    &__form {
        display: flex;
        flex: 0.4;
        &--input {
            font-size: 100%;
            transition: 0.4s ease-out;
        }
        &--email {
            background: $light;
            padding: 10px;
            flex: 1.5;
            border-bottom: 1px solid $light;
            &:focus {
                border-color: $accent;
            }
        }
        &--submit {
            flex: 0.5;
            padding: 10px 30px;
            color: $light;
            @include primary-btn;
        }
    }
}

.cart {
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $light-dark;
        padding: 1rem;
        position: relative;
        &__product {
            display: flex;
            flex-direction: column;
            margin-right: 1rem;
            align-items: center;
            text-align: center;
            &--link {
                &:hover {
                    color: $accent;
                }
            }
        }

        &__quantity {
            &--add,
            &--reduce {
                font-size: 120%;
                font-weight: bolder;
                transition: 0.4s ease-out color;
                &:hover {
                    color: $accent;
                }
            }
            &--count {
                width: 25%;
                border: $light-dark 2px solid;
                padding: 10px;
                text-align: center;
                color: $dark;
                margin: 0 2rem;
            }
        }

        &__price {
            color: $accent;
            font-size: 120%;
            right: 15%;
            bottom: 15%;
        }

        &__remove {
            padding: 0 1rem;
            font-size: 150%;
            font-weight: bold;
            transition: 0.4s ease-out color;
            font-size: 150%;
            &:hover {
                color: $accent;
            }
        }
    }

    &__footer {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--to-home {
            padding-left: 1rem;
            a {
                svg {
                    margin-right: 0.5rem;
                    transition: 0.4s ease-out transform;
                    polyline,
                    line,
                    path {
                        stroke: $accent;
                    }
                }

                color: $accent;
                display: flex;
                align-items: center;

                &:hover {
                    svg {
                        transform: translateX(-8px);
                    }
                }
            }
        }

        &--checkout-btn {
            display: flex;
            font-size: 150%;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 3rem;
            color: $light;
            border-radius: 5px;
            @include primary-btn;
            svg {
                transition: 0.4s ease-out;
                margin-right: 1.5rem;
                path,
                polyline {
                    stroke: $light;
                }
            }
        }

        &--subtotal {
            span {
                font-size: 150%;
                font-weight: bold;
                color: $accent;
                margin-left: 1rem;
            }
        }
    }
}

/* Product detail */
.product-detail {
    margin: 3rem 0;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    &__add-to-cart {
        color: $light;
        display: flex;
        align-items: center;
        font-size: 150%;
        padding: 0.8rem 1.5rem;
        border-radius: 5px;
        @include primary-btn;

        svg {
            margin-right: 1rem;
            polyline,
            path,
            circle {
                stroke: $light;
            }
        }
    }

    &__content {
        width: 45%;
        &--title {
            font-size: 150%;
            line-height: 2;
            color: $accent;
        }

        &--description {
            line-height: 2;
            margin-bottom: 2rem;
        }
    }

    &__price {
        line-height: 3;
        display: flex;
        align-items: center;
        &--normal {
            margin-right: 1rem;
            font-size: 2rem;
            color: $accent;
        }
        &--old {
            text-decoration: line-through;
        }
    }

    &__preview {
        border-right: 1px dashed darken($light-dark, 20);
        padding-right: 2rem;
        width: 50%;
        display: flex;
        &--image {
            flex: 1.5;
            margin-left: 1rem;
        }
        &--thumbnails {
            img {
                max-height: 150px;
                cursor: pointer;
                margin-bottom: 1rem;
            }
            flex: 0.4;
            display: flex;
            flex-direction: column;
        }
    }
}

/* Auth Form start*/
.auth {
    background: lighten($light-dark, 0.8);
}
.auth-form {
    &__wrap {
        background: $light;
        border-radius: 5px;
        max-width: 600px;
        margin: 4rem auto;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1.5rem 3rem 1rem;
        padding: 2rem 3rem;

        &--title {
            color: $accent;
            font-size: 150%;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
    }

    &__input {
        background: $light-dark;
        padding: 1rem;
        flex: 1;
        border-radius: 5px;
        transition: 0.4s ease-out border;
        border-bottom: 2px solid transparent;
        &:focus {
            border-bottom-color: $accent;
        }
    }

    &__label {
        line-height: 2;
    }

    &__submit {
        color: $light;
        border-radius: 5px;
        padding: 1rem 2rem;
        font-size: 100% !important;
        @include primary-btn;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        a {
            &:hover {
                color: $accent;
            }
        }
    }
}

/* Auth Form end*/

.main-footer {
    padding: 2rem 0;
    background: $light;
}

/* Shop Page Start */

.banner {
    width: 100%;
    height: 140px;
    background: url("/images/slide/slide-04.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: grid;
    place-items: center;

    &__heading {
        font-size: 2.5rem;
    }
}

.category__wrapper {
    width: 100%;
    height: 30px;
    background: rgba($color: $accent, $alpha: 0.5);
}

.category__list {
    display: flex;

    &__item {
        margin-right: 1.5rem;
        overflow: hidden;

        &.active {
            a {
                background: $accent;
            }
        }
    }

    &__link {
        color: $light;
        line-height: 30px;
        font-size: 1rem;
        padding: 0.5rem 2rem;
        transition: all 0.3s ease;
        box-sizing: border-box;

        &:hover {
            background: $accent;
        }
    }
}

.shop {
    display: flex;
    transition: all 300ms ease-in-out;

    .sidebar {
        border-right: 1px solid rgba($color: #000000, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        padding: 1rem;
        position: relative;
        max-width: 20%;
        width: 20%;
        height: 100%;
        min-height: 100vh;
        background: $light-dark;
        transition: all 300ms ease-in-out;

        a {
            transition: all 300ms ease;
        }

        &.collapse {
            width: 5%;
            border: none;
            transition: all 300ms ease-in-out;
            h2,
            .sidebar__content {
                display: none;
            }
        }

        h2 {
            border-bottom: 2px solid rgba($color: $accent, $alpha: 0.5);
            padding-bottom: 1rem;
            font-size: 1.3rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &__toggler {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 1rem;
            margin-top: 0.98rem;
            cursor: pointer;
            border-radius: 3rem;
            background: $light;
            transition: all 300ms ease-in-out;

            &.open {
                svg {
                    transform: rotate(180deg);
                }
            }

            svg {
                margin: 0.2rem;
                path {
                    fill: $accent;
                }
            }
        }

        &__heading {
            font-weight: 600;
            display: flex;
            justify-content: space-between;
            margin: 1rem 0 0.8rem;
        }

        &__content {
            &__item {
                margin: 0.5rem 0;

                &.active {
                    a {
                        color: $accent;
                    }
                }
            }

            &__link {
                font-size: 0.9rem;

                &:hover {
                    color: $accent;
                }
            }

            &__categories,
            &__price {
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
                padding-bottom: 0.8rem;
            }
        }

        .form--row {
            .form__group {
                margin-bottom: 0.5rem;
                &__title {
                    font-size: 0.8rem;
                    font-weight: 600;
                    margin: 0.8rem 0 0.6rem;
                }

                &__input {
                    display: flex;
                    justify-content: space-between;

                    .price {
                        width: 45%;
                        border: 1px solid rgba($color: #000000, $alpha: 0.2);
                        padding: 0.2rem;
                    }
                }

                .btn {
                    border: 1px solid $accent;
                    display: block;
                    margin-top: 0.8rem;
                    width: 100%;
                    border-radius: 5rem;
                    background: $accent;
                    color: $light-dark;
                    padding: 0.3rem 1rem;
                    transition: all 300ms ease;

                    &:hover {
                        background: $light;
                        color: $accent;
                    }
                }
            }

            label {
                font-size: 0.9rem;
            }
        }
    }

    .products {
        grid-row: 1;
        width: 100%;
        margin: 0 1rem;
    }
}

/* Shop Page End */

@import "partials/responsive";
