@import 'partials/variables';
@import 'partials/reset';
@import 'partials/mixins';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
  margin: auto;
  max-width: $page-width;
}

.row__wrap {
  background: #fff;
  padding: 2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.04);
}

/* Main header */

@import 'components/main-header';

/* Hero */
@import 'components/hero';

/* Products */
@import 'components/products-section-home';

@import 'components/product';

@import 'components/newsletter';

@import 'components/cart';

@import 'components/product-detail-page';

@import 'components/auth-pages';

.main-footer {
  padding: 2rem 0;
  background: $light;
}

@import 'components/shop-page';
@import 'partials/responsive';
