// 1. Colors
$accent: #6effa6;
// $accent: #168572;
$light: #fff;
$light-dark: #e3e3e1;
$dark: #333;

// 2. Typograpghy
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// 3. Layout
$page-width: 1100px;
