@import '../partials/mixins';

.auth {
  background: lighten($light-dark, 5);
}

.auth-form {
  &__wrap {
    background: $light;
    border-radius: 5px;
    max-width: 600px;
    margin: 4rem auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1.5rem 3rem 1rem;
    padding: 2rem 3rem;

    &--title {
      color: $accent;
      font-size: 150%;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  &__input {
    background: $light-dark;
    padding: 1rem;
    flex: 1;
    border-radius: 5px;
    transition: 0.4s ease-out border;
    border-bottom: 2px solid transparent;
    &:focus {
      border-bottom-color: $accent;
    }
  }

  &__label {
    line-height: 2;
  }

  &__submit {
    color: $light;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 100% !important;
    @include primary-btn;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    a {
      &:hover {
        color: $accent;
      }
    }
  }
}

/* Auth Form end*/
