.cart {
  padding: 2rem 0;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lighten($light-dark, 5);
    padding: 1rem;
    position: relative;
    &__product {
      display: flex;
      flex-direction: column;
      margin-right: 1rem;
      align-items: center;
      text-align: center;
      &--img {
        max-height: 150px;
      }
      &--link {
        &:hover {
          color: $accent;
        }
      }
    }

    &__quantity {
      &--add,
      &--reduce {
        font-size: 120%;
        font-weight: bolder;
        transition: 0.4s ease-out color;
        &:hover {
          color: $accent;
        }
      }
      &--count {
        width: 25%;
        border: $light-dark 1px solid;
        background: #fff;
        padding: 10px;
        text-align: center;
        color: $dark;
        margin: 0 2rem;
      }
    }

    &__price {
      color: $accent;
      font-size: 120%;
      font-weight: 500;
      right: 15%;
      bottom: 15%;
    }

    &__remove {
      padding: 0 1rem;
      font-size: 150%;
      font-weight: bold;
      transition: 0.4s ease-out color;
      font-size: 150%;
      &:hover {
        color: $accent;
      }
    }
  }

  &__footer {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--to-home {
      padding-left: 1rem;
      a {
        svg {
          margin-right: 0.5rem;
          transition: 0.4s ease-out transform;
          polyline,
          line,
          path {
            stroke: $accent;
          }
        }

        color: $accent;
        display: flex;
        align-items: center;

        &:hover {
          svg {
            transform: translateX(-8px);
          }
        }
      }
    }

    &--checkout-btn {
      display: flex;
      font-size: 150%;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 3rem;
      color: $light;
      border-radius: 5px;
      @include primary-btn;
      svg {
        transition: 0.4s ease-out;
        margin-right: 1.5rem;
        path,
        polyline {
          stroke: $light;
        }
      }
    }

    &--subtotal {
      span {
        font-size: 150%;
        font-weight: bold;
        color: $accent;
        margin-left: 1rem;
      }
    }
  }
}
