.hero {
  width: 100%;
  position: relative;

  &__item {
    color: $dark;
    line-height: 1.5;

    &--content {
      width: 30%;
      position: absolute;
      top: 15%;
      z-index: 10;
    }

    &--title {
      font-weight: lighter;
      font-size: 250%;
      color: $accent;
      margin-bottom: 1rem;
    }

    &--text {
      margin-bottom: 2rem;
    }

    &--btn {
      @include primary-btn;
      border-radius: 2rem;
      color: #fff;
      padding: 0.8rem 2rem;
      display: inline-block;
      font-weight: 600;
    }
  }
}
