.main-header {
  background: $light;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
  padding: 1.5rem 0;
  position: relative;
  z-index: 10;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
  }

  &__nav,
  &__logo {
    flex: 1;
  }

  &__logo {
    font-size: 180%;
    h1 {
      display: inline-block;
      padding: 0.5rem 1rem;
      color: #fff;
      border-radius: 1rem 1.5rem;
      background: $accent;
    }
  }

  &__nav {
    text-align: right;
    flex: 2;
    li {
      display: inline-block;
      margin-left: 1.5rem;
    }

    &--cart-icon {
      padding-right: 0.3rem;
    }

    li a {
      color: $dark;
      margin-bottom: 1rem;

      svg {
        width: 33px;
        height: 33px;
        path,
        circle,
        polyline {
          transition: 0.4s ease-out;
          stroke: $dark;
        }
      }

      &:hover {
        svg {
          path,
          circle,
          polyline {
            stroke: $accent;
          }
        }
      }
    }
  }
}

.cart-icon {
  @include primary-btn();
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: 1.5rem 1rem;
  align-items: center;
  position: relative;

  &__count {
    position: absolute;
    background: #fff;
    color: $accent;
    font-weight: 800;
    font-size: 80%;
    padding: 0 5px;
    left: 60%;
    top: 15%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    border-radius: 5px;
  }
  svg {
    path,
    circle,
    polyline {
      stroke: #fff !important;
    }
  }
}
