.main-header {
  background: $light;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 1rem 0;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav,
  &__logo {
    flex: 1;
  }

  &__logo {
    font-size: 2rem;
    color: $accent;
  }

  &__nav {
    text-align: right;

    li {
      display: inline-block;
      margin: 0 1rem;
    }

    &--cart-icon {
      padding-right: 0.3rem;
    }

    li a {
      color: $dark;
      margin-bottom: 1rem;

      svg {
        width: 33px;
        height: 33px;
        path,
        circle,
        polyline {
          transition: 0.4s ease-out;
          stroke: $dark;
        }
      }

      &:hover {
        svg {
          path,
          circle,
          polyline {
            stroke: $accent;
          }
        }
      }
    }
  }
}

.cart-icon {
  @include primary-btn();
  padding: 0.7rem 1.5rem;
  display: flex;
  border-radius: 2rem 1rem;
  align-items: center;

  svg {
    path,
    circle,
    polyline {
      stroke: #fff !important;
    }
  }
}
