.product-detail {
  padding: 2rem 0;
  background: lighten($light-dark, 9);

  .row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__add-to-cart {
    color: $light;
    display: flex;
    align-items: center;
    font-size: 150%;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    @include primary-btn;

    svg {
      margin-right: 1rem;
      polyline,
      path,
      circle {
        stroke: $light;
      }
    }
  }

  &__content {
    width: 46%;
    &--title {
      font-size: 150%;
      line-height: 2;
      color: $accent;
    }

    &--description {
      line-height: 2;
      margin-bottom: 2rem;
    }
  }

  &__price {
    line-height: 3;
    display: flex;
    align-items: center;
    &--normal {
      margin-right: 1rem;
      font-size: 2rem;
      color: $accent;
    }
    &--old {
      text-decoration: line-through;
    }
  }

  &__preview {
    width: 50%;
    display: flex;
    &--image {
      flex: 1.5;
      margin-left: 1rem;
      img {
        border-radius: 5px;
        width: 100%;
      }
    }
    &--thumbnails {
      img {
        max-height: 150px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 1rem;
      }
      flex: 0.4;
      display: flex;
      flex-direction: column;
    }
  }
}
